*{
  padding: 0%;
  margin: 0%;
}

.main-header{
  position: sticky;
  top: 0;
}
.header{
  width: 100%;
  padding: 15px 0;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header-logo{

}

.header-links
{
  gap: 50px;
  display: flex;
}

.heroSection{
  transition: 250ms;
}

.hero-section-cont{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section-heading{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section-button-cont button{
  padding: 20px 40px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}