@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  padding: 0%;
  margin: 0%;
}

.main-header{
  position: sticky;
  z-index: 9999;
  top: 0;
}
.header{
  width: 100%;
  padding: 15px 0;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.header-logo{

}

.header-links
{
  gap: 50px;
  display: flex;
}

.header-links h2{
  cursor: pointer;
}


.heroSection{
  transition: 250ms;
  background-image: url('../public/heroimage.jpg');
}

.hero-section-cont{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section-heading{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.hero-section-button-cont button{
  padding: 20px 40px;
  background-color: whitesmoke;
  border: none;
  cursor: pointer;
}
.hero-section-button-cont::before{
  content: "";
  background-color: black;
  display: flex;
  position: relative;
  height: 3px;
  top: 70px;
  transform: scaleX(0);
  transition: 100ms; 
}

.hero-section-button-cont:hover::before{
  transition: 100ms;
  transform: scaleX(1);
}

.main-listing-Section{
  height: 100vh;
}

.listing-heading{
  text-align: center;
}

.listing-cont{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.listing-card-component{
display: flex;
flex-wrap: wrap;
flex:0 0 11px;
justify-content: center;
}

.listing-card{
  transition: 250ms;
  opacity: 0.7;
  filter: blur(1px);
  box-shadow: 1px 1px 5px;
  flex : 0 0 350px;
  margin-left: 2%;
  margin-top: 50px;
  font-size:13px ;
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.listing-card-info h2:nth-child(1){
  font-weight: bolder;
}


.listing-card-info{
  padding:  20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align:left;


}

.listing-card:hover{
  opacity: 1;
  filter: blur(0px);
  box-shadow: 1px 2px 8px ;
}

.listing-card-r1{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.listing-card-image img{
  width: 100%;
  height: 100%;
}

.listing-card button{
  padding: 10px;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  font-size: 10px;
}

.listing-card-button button::before{
  content: "";
  background-color: black;
  display: flex;
  position: relative;
  height: 2px;
  top: 35px;
  transform: scaleX(0);
  transition: 100ms;
}
.listing-card-button button:hover:before {
  transition: 100ms;
  transform: scaleX(1);
}
.close-googleadsense{
text-align: end;
font-size: 50px;
cursor: pointer;
}
.googleAdsense-script{
  position: fixed;
  z-index: 989;
  background-color: whitesmoke;
  top: 100px;
  left: 250px;
  width: 50%;
}


.admin-container{
  width: 100%;
}

.admin-login-form{
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.admin-login-input{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-login-form input{
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}
.admin-login-form input :focus{
border: none;
}
.admin-login-form button{
  width: 100%;
  padding: 12px;
  border: none;
}
.admin-dashboard-container{
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.form-error{
  font-family: 'Montserrat', sans-serif;
  color: red;
  font-size: 14px;
}

.admin-dashboard-loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-header{
  position:sticky ;
  width: 100%;
}

.admin-dashboard-currlisting{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
.admin-dashboard-button{
  display: flex;
  gap: 20px;
  width: 100%;
}
.admin-dashboard-button button{
  width: 100%;
}
.admin-dashboard-addrecords{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.admin-dashboard-addlisting{
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 12%;
  z-index: 99999;
}
.admin-dashboard-listing-container{
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  width: 80%;
  height: 78%;
  flex-direction: column;
  gap: 100px;
}
.admin-dashboard-listing-container::-webkit-scrollbar{
  display: none;
}
.admin-dashboard-addrecords form{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-addrecords form input {
  text-align: justify;
  padding: 10px 30px;
  border: none;
  border-bottom:1px solid black  ;
  transition: 150ms;
}

.admin-dashboard-addrecords form input:focus{
outline: none;

}

.admin-dashboard-addrecords button {
  
  border: none;
  padding: 10px 30px;
  font-size: 14px;
}
.addlisting-svg{
  width: 70%;
  cursor: pointer;
  box-shadow: 1px 2px 5px ;
  opacity: 0.6;
  transition: 250ms;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}
.addlisting-svg:hover{
  cursor: pointer;
  opacity: 1;
}
.addlisting-svg svg{
  width: 30%;
}

.addlisting-container{
  transition: 250ms;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-dashboard-addrecords{
  border: none;
  box-shadow: 1px 5px 10px ;
  width: 30%;
  padding: 50px 30px;
  height: 50vh;
  background-color: white;
  position: relative;
}

.addlisting-close-btn{
  position: absolute;
  opacity: 0.5;
  top: 10px;
  left: 12px;
  font-size: 30px;
  width: 40px;
  cursor:pointer;
  transition: 300ms;
}
.addlisting-close-btn:hover{
  opacity: 1;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 